<div class="container mt-5 ">
  <div class="row mb-2">
    <h2>Users</h2>
  </div>
  <div class="row d-flex justify-content-between">
    <div class="col-3 p-0 form-inline">
      <input
        class="form-control"
        type="text"
        placeholder="Search"
        [(ngModel)]="searchText"
        (change)="onSearch()"
      />&nbsp;
      <div><img src="./assets/search.png" alt="search" class="searchIcon" /></div>
    </div>
    <button (click)="onUpdate()" class="btn btn-outline-warning text-dark">
      Create New User
    </button>
  </div>
  <br />
  <div class="row shadow-lg p-0 bg-white rounded">
      <span *ngIf="filteredData.length === 0">No result</span>
    <table class="table table-bordered table-hover" >
      <thead class="thead-dark">
        <tr>
          <th width="10%">#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Occupation</th>
          <th>To Dos</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredData">
          <td>{{ user.id }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.occupation }}</td>
          <td>
            <a routerLink="/todos" class="btn btn-outline-secondary"
              >View Todos</a
            >
          </td>
          <td>
            <a (click)="onUpdate(user)" class="btn btn-outline-success"
              >Update</a
            >
            &nbsp;
            <a (click)="onDelete(user)" class="btn btn-outline-danger"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <div>
              <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="itemLength"
                (pageChange)="pageChange($event)"
              ></ngb-pagination>
            </div>
            <!-- Showing {{ filteredData.length }} results of {{ userData.length }}. -->
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
